* {
  box-sizing: border-box;
}

body {
  background-color: rgb(204, 213, 174);
}


.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(254, 250, 224);
  top: 0;
  bottom: 0;
  margin-left: -5px;

}

.container {
  padding: 1% 5% 10% 5%;
  position: relative;
  background-color: inherit;
  width: 70%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(254, 250, 224);
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}


.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgb(254, 250, 224);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(254, 250, 224) transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: rgb(254, 250, 224);
  position: relative;
  border-radius: 6px;
  width: 100%;

}
@media (max-width: 768px) {
    .timeline {
        position: relative;
        justify-content: center;
        max-width: 100%;
        margin: 0vw 0vw 0vw 10vw;
      }
}

@media screen and (min-width: 769px) {
    .timeline {
        position: relative;
        justify-content: center;
        max-width: 100%;
        margin: 0vw 15vw 0vw 15vw;
      }
  .timeline::after {
  left: 31px;
  }
  
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  .container::before {
  left: 60px;
  border: medium solid rgb(254, 250, 224);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(254, 250, 224) transparent transparent;
  }

  .left::after, .right::after {
  left: 15px;
  }
  
  .right {
  left: 0%;
  }
#cardContainer{
    height: 100vh;
}
}
